html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
body {
	font-family: 'Source Sans Pro', sans-serif;
}
.container {
	background-color: #e8ebef;
	position: relative;
}
/*Css header*/
.ul-header-atas {
	display: inline-block;
}
.header {
	padding-top: 78px;
	padding-bottom: 78px;
}
.menu a {
	text-decoration: none;
	color: #696969;
}
.menu {
	display: inline-block;
	float: right;
	margin-top: 7px;
}
.menu i {
	padding: 10px 10px;
}
.menu li {
	display: inline;
	padding: 10px 10px;
	font-family: lato;
	font-size: 16px;
	cursor: pointer;
	color: #696969;
	font-weight: bold;
}
.ul-header-atas li {
	display: inline;
	float: left;
	font-family: lato;
	font-weight: bold;
	font-size: 35px;
}

.wrepper {
	max-width: 950px;
	margin:auto;
}
/*Css Hover*/
.hover-menu-atas:hover {
	background-color: #A9A9A9;
	color: white;
	border-radius: 5px;
}
.pencari:hover  {
	background-color: #A9A9A9;
	color: white;
	border-radius: 5px;
}
/*css search */
.input {
	width: 89%;
	display: inline-block;
	padding: 10px 10px;
	font-size: 15px;
	font-family: lato;
	font-style: italic;
}
.input-atas {
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
	border: none;
	display: none;
}
.submit {
	width: 8%;
	padding: 11px 0;
	font-size: 15px;
	border: 0px solid;
	font-family: lato;
	font-weight: bold;
	color: white;
	cursor: pointer;
	background-color: #5c6bc0;
	display: inline-block;
}
/*Css drop down*/
.body-dorp {
	background-color: #213ac07d;
	display: none;
}
.wrepper-drop-down {
	width: 90%;
	margin: auto;
}
.garis {
	margin-bottom: 20px;
	margin-top: 20px;
}
.ul-header-menu-1 {
	padding-bottom: 100%;
	padding-top: 20px;
}

.closes {
	float: right;
	font-size: 30px;
	color: white;
}

.closes-1 {
	padding: 15px;
	margin-bottom: -60px;
	float: right;
}
.bars {
	display: none;
	color: black;
}
.closes-1:hover i {
	color: black;
	cursor: pointer;
}
/*Css punya content*/
.content-1 {
	background-color: #ffffff;
	margin-bottom: 20px;
	box-shadow: 0 0 22px 02px  #ddd;
}
.content-1 img {
	width: 100%;
}
.wrepper-content {	
	width: 95%;
	margin: auto;
}
.wrepper-content a {
	padding-bottom: 50px;
}
.wrepper-content button {
	display: inline-block;
	float: right; 
	padding: 7px 25px;
	background-color: #5c6bc0;
	color: white;
	font-size: 20px;
	font-family: lato;
	border: 0px solid;
	margin-top: 26px;	
}
.
.fa-tulisan hr {
	color: #e5e3e3;
}
.fa-tulisan h2 {
	line-height: 50px;
}
.fa-tulisan {
	padding-top: 60px;
	width: 80%;
	margin: auto;
	
}
.wrepper-content h2 {
	font-size: 40px;
	font-family: lato;
	font-weight: bold;
	margin-top: 25px;
	padding-bottom: 20px;
}
.fa-tulisan h3 {
	/*padding-top: 62px;*/
	font-family: lato;
	font-size: 14px;
	font-weight: bold;
	color: #9f9b9b;

}
/*.fa-tulisan*/ span {
	/*padding-top: 62px;*/
	font-family: lato;
	font-size: 14px;
	font-weight: bold;
	color: #9f9b9b;

}
.ul-header-atas a {
	color: black;
}
.ul-header-atas a:hover {
	color: #293267;
}
.fa-tulisan p {
	font-size: 17px;
	font-family: lato;
	text-align: justify;
	line-height: 30px;
	padding-bottom: 20px;
}
.fa-tulisan a {
	text-decoration: none;
	font-family: lato;
	font-weight: bold;
	font-size: 25px;
}
.wrapper-header {
	width: 100%;
	margin: auto;
}
.wrepper-content img {
	max-width: 100%;
	padding-top: 20px;
}
/*Css komentar*/

.gambar-komenta img {
	width: 50px;
	border-radius: 10px;
	margin-right: 20px;
}
.textara textarea {
	width: 98%;
	padding: 10px 10px;
	padding-bottom: 50px;
	font-family: lato;
	font-size: 15px;
}
.textara {
	padding-top: 30px;
	width: 100%;
	box-sizing: border-box;
}
.gambar-komenta p {
	color: white;
}
.gambar-komenta  {
	display: inline-block;
/*	margin-top: -80px;*/
	padding-top: 30px;
}
.input-komentar input {
/*	margin-bottom: 20px;*/
	padding: 10px 10px;
	font-size: 15px;
	font-family: lato;
	width: 100%;
}
.input-komentar {
	padding-top: 30px;
	max-width: 100%;
}
.content-2 {
	background-color: #ffffff;
	margin-bottom: 20px;
	position: relative;
	box-shadow: 0 0 52px 02px  #ddd;
}
.input-komentar {
	display: inline-block;
	width: 50%;
}
/*Css publise*/
.gambar {
	display: inline-block;
}
.gambar img {
	width: 50px;
	border-radius: 50px;
	margin-right: 20px;
}
.text-coment span {
	text-decoration: none;
	font-style: italic;
	color: #d1d3d7;
	font-family: lato;
	font-weight: bold;
}
.garis-komentar a {
	text-decoration: none;
	font-style: italic;
	color: white;
	font-family: lato;
	font-weight: bold;
	padding: 6px;
	float: right;
	margin-left: 20px;
	background-color: #495d78a1;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
}
.garis-komentar i {
	margin-left: 5px;
}
.text-coment {
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 20px;
}
.garis-komentar {
	height: 1px;
	background-color: #666;
	width: 85%;
	margin: auto;
}
.text-coment strong {
	font-family: lato;
	padding-right: 10px;
	color: #515254;
	font-size: 20px;
}
.input-komentar button {
	padding: 10px;
	border: none;
	background-color: #4d578f;
	box-shadow: 0 0 85px 2px #ddd;
	width: 40%;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	font-size: 20px;
	margin: 15px 0;
}
.text-coment h3 {
	padding-top: 20px;
	font-family: lato;
	font-size: 20px;
}
*//*Css footer*/
.wrepper-content-footer {	
	width: 65%;
	margin: auto;
}
.footer {
	width: 100%;
	background-color: #6172d2;
}
.footer-atas i p {
	font-style: italic;
}
.footer-atas {
	text-align: center;
	padding-bottom: 40px;
}
.footer-tengah {
	text-align: center;
	padding-bottom: 40px;
}
.footer-bawah {
	text-align: center;
	padding-bottom: 40px;
}
.footer-tengah p {
	padding-top: 41px;
	font-size: 13px;
	font-family: lato;
	font-weight: bold;
	color: #e8e2e2;
	line-height: 20px;

}
.icon i {
	color: white;
	padding-right: 20px;
	padding-bottom: 70px;
}
.akhir i {
	padding-right: 0;
}
.icon  li {
	display: inline;
}
.icon i {
	font-size: 30px;
}
.footer-bawah p {
	padding-top: 41px;
	font-size: 13px;
	font-family: lato;
	font-weight: bold;
	color: #e8e2e2;
	padding-bottom: 42px;

}
.garis {
	height: 1px;
	background-color: #4a5594;
}
.garis-2 {
	width: 80%;
	height: 1px;
	margin: auto;
	background-color: #4a5594;
}
.ul-footer li {
	display: inline;
	padding-left: 40px;
	font-weight: bold;
	font-family: lato;
	font-size: 16px;
	color: white;
}
.footer-atas p {
	padding-bottom: 65px;
	padding-top: 60px;
	font-size: 30px;
	font-family: lato;
	font-weight: bold;
	color: #606fc3;
}

@media only screen and (max-width: 500px){
	.menu li {
		display: none;
	}
	img {
		max-width: 100%;
	}
	.footer-atas {
		width: 100%;

	}
	.footer-atas li {
		display: none;
	}
	.bars {
		display: block;
		float: right;
		padding-right: 10px;
		font-size: 35px;
		cursor: pointer;
		padding-top: 7px;
	}
	.bars:hover {
		color: #008B8B;
	}
	.container {
		max-width: 100%;
		padding: 0 10px;
		margin: auto;
	}
	.content-1 {
		width: 100%;
	}
	textarea {
		width: 90%;
		margin:auto;
	}
	.wrapper-header {
		margin-left: 15px;
	}
	.wrepper {
		width: 100%;

	}
	.textara textarea {
		max-width: 90%;
	}
}